# Michael comments
- if somebody joins relay, how much time is between joining and the next product they use? 
- - hypothesis is that they accidentally joined relay
- - what's the median time between product adoption? 

- Predictive modeling
- - start slow, (what we have is a markov chain), people move from one state to another. 
- - - what's the probability of moving from one state to another?
- - - markov chain is a good place to start (simplest model)
- - - then we could add more complexity (user features)

- Alternatively...
- - first to second product, or third product (ignore fourth, fifth, etc)
- Classification approach
- - what's the difference between users that have product 

- Don't worry about going back to the beginning and getting more data! (FOR NOW)


#### Questions we're answering
- what's the ideal onboarding flow?


## PROBLEMS WE NEED TO ADDRESS TO JUSTIFY METHODOLOGY:
- Users can take out multiple loans for varying purposes, which date does our "ORIGINATION_DATE" represent?
- Features change depending on what their first product is! Are there any features that are consistent across all products?

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import itertools
from tqdm import tqdm

import plotly
# from chart_studio import plotly

In [10]:
dataframe = pd.read_csv('big_data.csv')

/var/folders/kc/jdw9593x3ksdmnhyd571zm440000gp/T/ipykernel_21422/1281625065.py:1: DtypeWarning: Columns (2,5,6,8,10,11,14,15,16,17,18,19,20,21,23,24,25,27,28,32) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv('big_data.csv')

In [11]:
#create columns that show if a person uses a product
dataframe["uses_invest"] = ~dataframe['INV_OPEN_DATE'].isna() 
dataframe["uses_money"] = ~dataframe['MONEY_ACCOUNT_OPEN_DATE'].isna()
dataframe["uses_relay"] = ~dataframe['RELAY_ORIGINAL_DATE'].isna() 
dataframe["uses_loan"] = ~dataframe['ORIGINATION_DATE'].isna()
dataframe["uses_credit"] = ~dataframe['ONBOARDING_SUCCESS_DATE'].isna()

#create column that shows how many products a person uses
dataframe["num_products"] = (dataframe[['uses_invest', 'uses_money', 'uses_relay', 'uses_loan', 'uses_credit']] == True).sum(axis=1)

# create a column that shows how long a person has used a product. If they have never used a product, it will be NaN

dataframe['date_of_creating_new_columns'] = pd.to_datetime('today').date()

dataframe['INV_OPEN_DATE'] = pd.to_datetime(dataframe['INV_OPEN_DATE']).dt.date
dataframe['days_with_invest'] = (dataframe['date_of_creating_new_columns'] - dataframe['INV_OPEN_DATE']).dt.days

dataframe['MONEY_ACCOUNT_OPEN_DATE'] = pd.to_datetime(dataframe['MONEY_ACCOUNT_OPEN_DATE']).dt.date
dataframe['days_with_money'] = (dataframe['date_of_creating_new_columns'] - dataframe['MONEY_ACCOUNT_OPEN_DATE']).dt.days

dataframe['RELAY_ORIGINAL_DATE'] = pd.to_datetime(dataframe['RELAY_ORIGINAL_DATE']).dt.date
dataframe['days_with_relay'] = (dataframe['date_of_creating_new_columns'] - dataframe['RELAY_ORIGINAL_DATE']).dt.days

dataframe['ORIGINATION_DATE'] = pd.to_datetime(dataframe['ORIGINATION_DATE']).dt.date
dataframe['days_with_loan'] = (dataframe['date_of_creating_new_columns'] - dataframe['ORIGINATION_DATE']).dt.days

dataframe['ONBOARDING_SUCCESS_DATE'] = pd.to_datetime(dataframe['ONBOARDING_SUCCESS_DATE']).dt.date
dataframe['days_with_credit'] = (dataframe['date_of_creating_new_columns'] - dataframe['ONBOARDING_SUCCESS_DATE']).dt.days

In [12]:
#show all columns
pd.set_option('display.max_columns', None)
dataframe.head(40)

,ROW_NUM,USER_ID,INV_OPEN_DATE,INV_NUM_ACCOUNTS,INV_ACC_BAL,MONEY_ACCOUNT_OPEN_DATE,MONEY_ACCOUNT_STATUS,MONEY_FICO,MONEY_DATA_UPDATE_DATE,MONEY_TOTAL_BALANCE,LAST_PAYMENT_DATE,ORIGINATION_DATE,PRINCIPAL,RELAY_FICO,SL_ACTIVE_IND,PL_ACTIVE_IND,MORTGAGE_ACTIVE_IND,BANKING_ACTIVE_IND,INVEST_ACTIVE_IND,CC_ACTIVE_IND,CSM_ACTIVE_IND,ACTIVE,TOTAL_RECENCY_DAYS,RELAY_ORIGINAL_DATE,ONBOARDING_SUCCESS_DATE,FIRST_TRANSACTION_DATE,CREDIT_LINE,CURRENT_CYCLE_BEHAVIOR_SEGMENT,MQS_REPORTING_DATE,REL_MON_MQS,REL_INV_MQS,REL_LOAN_MQS,SQS_DATE_EST,REL_MON_SQS,REL_INV_SQS,REL_LOAN_SQS,uses_invest,uses_money,uses_relay,uses_loan,uses_credit,num_products,date_of_creating_new_columns,days_with_invest,days_with_money,days_with_relay,days_with_loan,days_with_credit
0,1.0,22477118.0,NaT,NaN,NaN,2022-02-18,Active,850.0,2023-03-21,32148.42,NaN,NaT,NaN,850.0,False,False,False,True,False,False,True,True,1241.0,2019-10-29,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,False,False,2,2023-03-31,NaN,406.0,1249.0,NaN,NaN
1,1.0,22477129.0,2022-02-19,2.0,65.40,2022-02-18,Active,9003.0,2023-03-21,0.50,NaN,NaT,NaN,NaN,False,False,False,True,True,False,True,True,113.0,2022-11-30,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,True,False,False,3,2023-03-31,405.0,406.0,121.0,NaN,NaN
2,1.0,22477145.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,932.0,2020-09-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,940.0,NaN,NaN
3,1.0,22477153.0,NaT,NaN,NaN,2022-02-19,Active,556.0,2023-03-21,0.93,NaN,NaT,NaN,556.0,False,False,False,True,False,False,True,True,231.0,2022-08-04,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,False,False,2,2023-03-31,NaN,405.0,239.0,NaN,NaN
4,1.0,22477154.0,2022-02-18,3.0,257713.22,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,662.0,False,False,False,False,True,False,True,True,128.0,2022-11-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,False,2,2023-03-31,406.0,NaN,136.0,NaN,NaN
5,1.0,22477164.0,2022-02-18,2.0,2873913.33,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,730.0,False,False,False,False,True,False,True,True,385.0,2022-03-03,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,False,2,2023-03-31,406.0,NaN,393.0,NaN,NaN
6,1.0,22477168.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,720.0,False,False,False,False,False,False,True,True,183.0,2022-09-21,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,191.0,NaN,NaN
7,1.0,22477169.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-21,2022-02-18,21733.20,781.0,False,True,False,False,False,False,True,True,101.0,2022-12-12,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,True,False,2,2023-03-31,NaN,NaN,109.0,406.0,NaN
8,1.0,22477178.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-05,2022-02-22,31637.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,402.0,NaN
9,1.0,22477179.0,NaT,NaN,NaN,2022-02-18,Active,791.0,2023-03-21,0.17,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False,1,2023-03-31,NaN,406.0,NaN,NaN,NaN
10,1.0,22477180.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-02-22,2022-02-18,14097.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,406.0,NaN
11,1.0,22477184.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,617.0,NaN,NaN,NaN,NaN,NaN,False,True,True,849.0,2020-11-24,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,857.0,NaN,NaN
12,1.0,22477191.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-10,2022-05-31,2769.41,786.0,True,True,False,False,False,False,True,True,226.0,2022-08-09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,True,False,2,2023-03-31,NaN,NaN,234.0,304.0,NaN
13,1.0,22477199.0,2022-02-18,1.0,44.21,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
14,1.0,22477200.0,2022-02-18,1.0,1681.10,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
15,1.0,22477206.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,False,False,False,False,False,False,True,True,288.0,2022-06-08,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,296.0,NaN,NaN
16,1.0,22477207.0,2022-02-18,1.0,2244.03,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,549.0,False,False,False,False,True,False,True,True,2107.0,2017-06-15,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,False,2,2023-03-31,406.0,NaN,2115.0,NaN,NaN
17,1.0,22477223.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,174.0,2022-09-30,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,182.0,NaN,NaN
18,1.0,22477224.0,2022-02-18,1.0,600.00,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
19,1.0,22477231.0,2022-03-04,2.0,1644.45,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,471.0,False,False,False,False,True,False,True,True,257.0,2022-07-09,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,True,False,False,2,2023-03-31,392.0,NaN,265.0,NaN,NaN
20,1.0,22477236.0,2022-02-18,1.0,929990.51,2023-03-11,Active,812.0,2023-03-21,31000.00,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,False,False,False,2,2023-03-31,406.0,20.0,NaN,NaN,NaN
21,1.0,22477245.0,NaT,NaN,NaN,2022-02-18,Active,568.0,2023-03-21,0.43,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False,1,2023-03-31,NaN,406.0,NaN,NaN,NaN
22,1.0,22477248.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-10,2022-02-22,12117.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,402.0,NaN
23,1.0,22477249.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-02,2022-02-18,5349.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,406.0,NaN
24,1.0,22477253.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-10,2022-05-10,575.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,325.0,NaN
25,1.0,22477254.0,2022-02-18,1.0,871313.31,2022-02-18,Active,813.0,2023-03-21,21.69,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,False,False,False,2,2023-03-31,406.0,406.0,NaN,NaN,NaN
26,1.0,22477257.0,2022-02-18,2.0,37969.72,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
27,1.0,22477277.0,2022-02-18,1.0,42448.13,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
28,1.0,22477298.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-05,2022-03-03,9419.48,665.0,False,True,False,False,False,False,True,True,113.0,2022-11-30,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,True,False,2,2023-03-31,NaN,NaN,121.0,393.0,NaN
29,1.0,22477314.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-02-24,2022-02-20,9208.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,404.0,NaN
30,1.0,22477319.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-03-05,2022-09-27,48343.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,185.0,NaN
31,1.0,22477353.0,2022-02-18,2.0,727401.54,2022-12-03,Active,811.0,2023-03-21,516.67,NaN,NaT,NaN,814.0,False,False,False,True,True,False,True,True,636.0,2021-06-25,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,True,False,False,3,2023-03-31,406.0,118.0,644.0,NaN,NaN
32,1.0,22477360.0,NaT,NaN,NaN,2022-02-18,Active,516.0,2023-03-21,0.23,NaN,NaT,NaN,516.0,False,False,False,True,False,False,True,True,94.0,2022-12-19,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,False,False,2,2023-03-31,NaN,406.0,102.0,NaN,NaN
33,1.0,22477364.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,650.0,NaN,NaN,NaN,NaN,NaN,False,True,True,215.0,2022-08-20,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,223.0,NaN,NaN
34,1.0,22477366.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,513.0,False,False,False,False,False,False,True,True,174.0,2022-09-30,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,True,False,False,1,2023-03-31,NaN,NaN,182.0,NaN,NaN
35,1.0,22477370.0,NaT,NaN,NaN,2022-02-18,Active,NaN,2023-03-21,0.15,NaN,NaT,NaN,490.0,False,False,False,True,False,False,True,True,89.0,2022-12-24,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,True,False,False,2,2023-03-31,NaN,406.0,97.0,NaN,NaN
36,1.0,22477373.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-02-22,2022-02-18,48614.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,406.0,NaN
37,1.0,22477377.0,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,2023-02-25,2022-02-18,13135.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,True,False,1,2023-03-31,NaN,NaN,NaN,406.0,NaN
38,1.0,22477378.0,2022-02-18,2.0,5013.39,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,1,2023-03-31,406.0,NaN,NaN,NaN,NaN
39,1.0,22477392.0,2022-02-18,1.0,8545.18,2022-07-07,Active,555.0,2023-03-21,0.48,NaN,NaT,NaN,555.0,False,False,False,True,True,False,True,True,141.0,2022-11-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,True,False,False,3,2023-03-31,406.0,267.0,149.0,NaN,NaN

In [33]:
len(dataframe)

3216851

### Columns for first and second product

In [13]:
# create a column 'first_product' that shows the first product a person used, and a column 'second_product' that shows the second product a person used. If they have never used a second product, it will be NaN

dataframe['first_product'] = np.nan
dataframe['second_product'] = np.nan

first_product_list = []
second_product_list = []

for i in tqdm(range(len(dataframe))):
    #create a list of the products that the user has
    products = []
    if dataframe.loc[i, 'uses_relay'] == True:
        products.append('relay')
    if dataframe.loc[i, 'uses_money'] == True:
        products.append('money')
    if dataframe.loc[i, 'uses_invest'] == True:
        products.append('invest')
    if dataframe.loc[i, 'uses_loan'] == True:
        products.append('loan')
    if dataframe.loc[i, 'uses_credit'] == True:
        products.append('credit')

    

    #sort the list of products by the number of days the user has used the product
    products.sort(key=lambda x: dataframe.loc[i, f'days_with_{x}'], reverse=True)

    #add the first two products to the list
    if len(products) >= 1:
        first_product_list.append(products[0])
    else:
        first_product_list.append(np.nan)
    if len(products) >= 2:
        second_product_list.append(products[1])
    else:
        second_product_list.append(np.nan)
        

dataframe['first_product'] = first_product_list
dataframe['second_product'] = second_product_list

100%|██████████| 3216851/3216851 [04:05<00:00, 13114.35it/s]

In [14]:
#save the dataframe
dataframe.to_csv('big_data_added_columns.csv', index=False)

In [17]:
#show how many users use personal loans
dataframe['uses_loan'].value_counts()

False    2703952
True      512899
Name: uses_loan, dtype: int64

# Understanding the xbuy journey

# Sankey diagram? More like JANKEY diagram amirite?

In [18]:
def convert_tuple_to_string(tup):
    str = ''
    for item in range(len(tup)):
        str = str + tup[item]
        if item < len(tup) - 1:
            str = str + '_'
    return str

In [19]:
products = ['relay', 'money', 'invest', 'loan', 'credit']

#permute the products
product_permutations_5 = list(itertools.permutations(products, 5))
product_permutations_4 = list(itertools.permutations(products, 4))
product_permutations_3 = list(itertools.permutations(products, 3))
product_permutations_2 = list(itertools.permutations(products, 2))
product_permutations_1 = list(itertools.permutations(products, 1))

product_permutations = product_permutations_5 + product_permutations_4 + product_permutations_3 + product_permutations_2 + product_permutations_1

#create a dataframe that will have 5 columns: lvl1, lvl2, lvl3, lvl4, and count
product_permutations_df = pd.DataFrame(columns=['lvl1', 'lvl2', 'lvl3', 'lvl4', 'lvl5', 'count'])
#fill the dataframe with the product permutations
for i in range(len(product_permutations)):
    for j in range(len(product_permutations[i])):
        product_permutations_df.loc[i, f'lvl{j+1}'] = convert_tuple_to_string(product_permutations[i][:j+1])

product_permutations_df['count'] = 0

product_permutations_df

,lvl1,lvl2,lvl3,lvl4,lvl5,count
0,relay,relay_money,relay_money_invest,relay_money_invest_loan,relay_money_invest_loan_credit,0
1,relay,relay_money,relay_money_invest,relay_money_invest_credit,relay_money_invest_credit_loan,0
2,relay,relay_money,relay_money_loan,relay_money_loan_invest,relay_money_loan_invest_credit,0
3,relay,relay_money,relay_money_loan,relay_money_loan_credit,relay_money_loan_credit_invest,0
4,relay,relay_money,relay_money_credit,relay_money_credit_invest,relay_money_credit_invest_loan,0
...,...,...,...,...,...,...
320,relay,NaN,NaN,NaN,NaN,0
321,money,NaN,NaN,NaN,NaN,0
322,invest,NaN,NaN,NaN,NaN,0
323,loan,NaN,NaN,NaN,NaN,0
324,credit,NaN,NaN,NaN,NaN,0

In [25]:
#last populated column is the value held in the last column that has a value in it, with the options being lvl1, lvl2, lvl3, and lvl4
# product_permutations_df['last_populated_column'] = product_permutations_df['lvl4'].fillna(product_permutations_df['lvl3'].fillna(product_permutations_df['lvl2'].fillna(product_permutations_df['lvl1'])))
product_permutations_df['last_populated_column'] = product_permutations_df['lvl5'].fillna(product_permutations_df['lvl4'].fillna(product_permutations_df['lvl3'].fillna(product_permutations_df['lvl2'].fillna(product_permutations_df['lvl1']))))
last_populated_columns_dict = product_permutations_df.set_index('last_populated_column')['count'].to_dict()

In [26]:
last_populated_columns_dict

{'relay_money_invest_loan_credit': 0,
 'relay_money_invest_credit_loan': 0,
 'relay_money_loan_invest_credit': 0,
 'relay_money_loan_credit_invest': 0,
 'relay_money_credit_invest_loan': 0,
 'relay_money_credit_loan_invest': 0,
 'relay_invest_money_loan_credit': 0,
 'relay_invest_money_credit_loan': 0,
 'relay_invest_loan_money_credit': 0,
 'relay_invest_loan_credit_money': 0,
 'relay_invest_credit_money_loan': 0,
 'relay_invest_credit_loan_money': 0,
 'relay_loan_money_invest_credit': 0,
 'relay_loan_money_credit_invest': 0,
 'relay_loan_invest_money_credit': 0,
 'relay_loan_invest_credit_money': 0,
 'relay_loan_credit_money_invest': 0,
 'relay_loan_credit_invest_money': 0,
 'relay_credit_money_invest_loan': 0,
 'relay_credit_money_loan_invest': 0,
 'relay_credit_invest_money_loan': 0,
 'relay_credit_invest_loan_money': 0,
 'relay_credit_loan_money_invest': 0,
 'relay_credit_loan_invest_money': 0,
 'money_relay_invest_loan_credit': 0,
 'money_relay_invest_credit_loan': 0,
 'money_relay_loan_invest_credit': 0,
 'money_relay_loan_credit_invest': 0,
 'money_relay_credit_invest_loan': 0,
 'money_relay_credit_loan_invest': 0,
 'money_invest_relay_loan_credit': 0,
 'money_invest_relay_credit_loan': 0,
 'money_invest_loan_relay_credit': 0,
 'money_invest_loan_credit_relay': 0,
 'money_invest_credit_relay_loan': 0,
 'money_invest_credit_loan_relay': 0,
 'money_loan_relay_invest_credit': 0,
 'money_loan_relay_credit_invest': 0,
 'money_loan_invest_relay_credit': 0,
 'money_loan_invest_credit_relay': 0,
 'money_loan_credit_relay_invest': 0,
 'money_loan_credit_invest_relay': 0,
 'money_credit_relay_invest_loan': 0,
 'money_credit_relay_loan_invest': 0,
 'money_credit_invest_relay_loan': 0,
 'money_credit_invest_loan_relay': 0,
 'money_credit_loan_relay_invest': 0,
 'money_credit_loan_invest_relay': 0,
 'invest_relay_money_loan_credit': 0,
 'invest_relay_money_credit_loan': 0,
 'invest_relay_loan_money_credit': 0,
 'invest_relay_loan_credit_money': 0,
 'invest_relay_credit_money_loan': 0,
 'invest_relay_credit_loan_money': 0,
 'invest_money_relay_loan_credit': 0,
 'invest_money_relay_credit_loan': 0,
 'invest_money_loan_relay_credit': 0,
 'invest_money_loan_credit_relay': 0,
 'invest_money_credit_relay_loan': 0,
 'invest_money_credit_loan_relay': 0,
 'invest_loan_relay_money_credit': 0,
 'invest_loan_relay_credit_money': 0,
 'invest_loan_money_relay_credit': 0,
 'invest_loan_money_credit_relay': 0,
 'invest_loan_credit_relay_money': 0,
 'invest_loan_credit_money_relay': 0,
 'invest_credit_relay_money_loan': 0,
 'invest_credit_relay_loan_money': 0,
 'invest_credit_money_relay_loan': 0,
 'invest_credit_money_loan_relay': 0,
 'invest_credit_loan_relay_money': 0,
 'invest_credit_loan_money_relay': 0,
 'loan_relay_money_invest_credit': 0,
 'loan_relay_money_credit_invest': 0,
 'loan_relay_invest_money_credit': 0,
 'loan_relay_invest_credit_money': 0,
 'loan_relay_credit_money_invest': 0,
 'loan_relay_credit_invest_money': 0,
 'loan_money_relay_invest_credit': 0,
 'loan_money_relay_credit_invest': 0,
 'loan_money_invest_relay_credit': 0,
 'loan_money_invest_credit_relay': 0,
 'loan_money_credit_relay_invest': 0,
 'loan_money_credit_invest_relay': 0,
 'loan_invest_relay_money_credit': 0,
 'loan_invest_relay_credit_money': 0,
 'loan_invest_money_relay_credit': 0,
 'loan_invest_money_credit_relay': 0,
 'loan_invest_credit_relay_money': 0,
 'loan_invest_credit_money_relay': 0,
 'loan_credit_relay_money_invest': 0,
 'loan_credit_relay_invest_money': 0,
 'loan_credit_money_relay_invest': 0,
 'loan_credit_money_invest_relay': 0,
 'loan_credit_invest_relay_money': 0,
 'loan_credit_invest_money_relay': 0,
 'credit_relay_money_invest_loan': 0,
 'credit_relay_money_loan_invest': 0,
 'credit_relay_invest_money_loan': 0,
 'credit_relay_invest_loan_money': 0,
 'credit_relay_loan_money_invest': 0,
 'credit_relay_loan_invest_money': 0,
 'credit_money_relay_invest_loan': 0,
 'credit_money_relay_loan_invest': 0,
 'credit_money_invest_relay_loan': 0,
 'credit_money_invest_loan_relay': 0,
 'credit_money_loan_relay_invest': 0,
 'credit_money_loan_invest_relay': 0,
 'credit_invest_relay_money_loan': 0,
 'credit_invest_relay_loan_money': 0,
 'credit_invest_money_relay_loan': 0,
 'credit_invest_money_loan_relay': 0,
 'credit_invest_loan_relay_money': 0,
 'credit_invest_loan_money_relay': 0,
 'credit_loan_relay_money_invest': 0,
 'credit_loan_relay_invest_money': 0,
 'credit_loan_money_relay_invest': 0,
 'credit_loan_money_invest_relay': 0,
 'credit_loan_invest_relay_money': 0,
 'credit_loan_invest_money_relay': 0,
 'relay_money_invest_loan': 0,
 'relay_money_invest_credit': 0,
 'relay_money_loan_invest': 0,
 'relay_money_loan_credit': 0,
 'relay_money_credit_invest': 0,
 'relay_money_credit_loan': 0,
 'relay_invest_money_loan': 0,
 'relay_invest_money_credit': 0,
 'relay_invest_loan_money': 0,
 'relay_invest_loan_credit': 0,
 'relay_invest_credit_money': 0,
 'relay_invest_credit_loan': 0,
 'relay_loan_money_invest': 0,
 'relay_loan_money_credit': 0,
 'relay_loan_invest_money': 0,
 'relay_loan_invest_credit': 0,
 'relay_loan_credit_money': 0,
 'relay_loan_credit_invest': 0,
 'relay_credit_money_invest': 0,
 'relay_credit_money_loan': 0,
 'relay_credit_invest_money': 0,
 'relay_credit_invest_loan': 0,
 'relay_credit_loan_money': 0,
 'relay_credit_loan_invest': 0,
 'money_relay_invest_loan': 0,
 'money_relay_invest_credit': 0,
 'money_relay_loan_invest': 0,
 'money_relay_loan_credit': 0,
 'money_relay_credit_invest': 0,
 'money_relay_credit_loan': 0,
 'money_invest_relay_loan': 0,
 'money_invest_relay_credit': 0,
 'money_invest_loan_relay': 0,
 'money_invest_loan_credit': 0,
 'money_invest_credit_relay': 0,
 'money_invest_credit_loan': 0,
 'money_loan_relay_invest': 0,
 'money_loan_relay_credit': 0,
 'money_loan_invest_relay': 0,
 'money_loan_invest_credit': 0,
 'money_loan_credit_relay': 0,
 'money_loan_credit_invest': 0,
 'money_credit_relay_invest': 0,
 'money_credit_relay_loan': 0,
 'money_credit_invest_relay': 0,
 'money_credit_invest_loan': 0,
 'money_credit_loan_relay': 0,
 'money_credit_loan_invest': 0,
 'invest_relay_money_loan': 0,
 'invest_relay_money_credit': 0,
 'invest_relay_loan_money': 0,
 'invest_relay_loan_credit': 0,
 'invest_relay_credit_money': 0,
 'invest_relay_credit_loan': 0,
 'invest_money_relay_loan': 0,
 'invest_money_relay_credit': 0,
 'invest_money_loan_relay': 0,
 'invest_money_loan_credit': 0,
 'invest_money_credit_relay': 0,
 'invest_money_credit_loan': 0,
 'invest_loan_relay_money': 0,
 'invest_loan_relay_credit': 0,
 'invest_loan_money_relay': 0,
 'invest_loan_money_credit': 0,
 'invest_loan_credit_relay': 0,
 'invest_loan_credit_money': 0,
 'invest_credit_relay_money': 0,
 'invest_credit_relay_loan': 0,
 'invest_credit_money_relay': 0,
 'invest_credit_money_loan': 0,
 'invest_credit_loan_relay': 0,
 'invest_credit_loan_money': 0,
 'loan_relay_money_invest': 0,
 'loan_relay_money_credit': 0,
 'loan_relay_invest_money': 0,
 'loan_relay_invest_credit': 0,
 'loan_relay_credit_money': 0,
 'loan_relay_credit_invest': 0,
 'loan_money_relay_invest': 0,
 'loan_money_relay_credit': 0,
 'loan_money_invest_relay': 0,
 'loan_money_invest_credit': 0,
 'loan_money_credit_relay': 0,
 'loan_money_credit_invest': 0,
 'loan_invest_relay_money': 0,
 'loan_invest_relay_credit': 0,
 'loan_invest_money_relay': 0,
 'loan_invest_money_credit': 0,
 'loan_invest_credit_relay': 0,
 'loan_invest_credit_money': 0,
 'loan_credit_relay_money': 0,
 'loan_credit_relay_invest': 0,
 'loan_credit_money_relay': 0,
 'loan_credit_money_invest': 0,
 'loan_credit_invest_relay': 0,
 'loan_credit_invest_money': 0,
 'credit_relay_money_invest': 0,
 'credit_relay_money_loan': 0,
 'credit_relay_invest_money': 0,
 'credit_relay_invest_loan': 0,
 'credit_relay_loan_money': 0,
 'credit_relay_loan_invest': 0,
 'credit_money_relay_invest': 0,
 'credit_money_relay_loan': 0,
 'credit_money_invest_relay': 0,
 'credit_money_invest_loan': 0,
 'credit_money_loan_relay': 0,
 'credit_money_loan_invest': 0,
 'credit_invest_relay_money': 0,
 'credit_invest_relay_loan': 0,
 'credit_invest_money_relay': 0,
 'credit_invest_money_loan': 0,
 'credit_invest_loan_relay': 0,
 'credit_invest_loan_money': 0,
 'credit_loan_relay_money': 0,
 'credit_loan_relay_invest': 0,
 'credit_loan_money_relay': 0,
 'credit_loan_money_invest': 0,
 'credit_loan_invest_relay': 0,
 'credit_loan_invest_money': 0,
 'relay_money_invest': 0,
 'relay_money_loan': 0,
 'relay_money_credit': 0,
 'relay_invest_money': 0,
 'relay_invest_loan': 0,
 'relay_invest_credit': 0,
 'relay_loan_money': 0,
 'relay_loan_invest': 0,
 'relay_loan_credit': 0,
 'relay_credit_money': 0,
 'relay_credit_invest': 0,
 'relay_credit_loan': 0,
 'money_relay_invest': 0,
 'money_relay_loan': 0,
 'money_relay_credit': 0,
 'money_invest_relay': 0,
 'money_invest_loan': 0,
 'money_invest_credit': 0,
 'money_loan_relay': 0,
 'money_loan_invest': 0,
 'money_loan_credit': 0,
 'money_credit_relay': 0,
 'money_credit_invest': 0,
 'money_credit_loan': 0,
 'invest_relay_money': 0,
 'invest_relay_loan': 0,
 'invest_relay_credit': 0,
 'invest_money_relay': 0,
 'invest_money_loan': 0,
 'invest_money_credit': 0,
 'invest_loan_relay': 0,
 'invest_loan_money': 0,
 'invest_loan_credit': 0,
 'invest_credit_relay': 0,
 'invest_credit_money': 0,
 'invest_credit_loan': 0,
 'loan_relay_money': 0,
 'loan_relay_invest': 0,
 'loan_relay_credit': 0,
 'loan_money_relay': 0,
 'loan_money_invest': 0,
 'loan_money_credit': 0,
 'loan_invest_relay': 0,
 'loan_invest_money': 0,
 'loan_invest_credit': 0,
 'loan_credit_relay': 0,
 'loan_credit_money': 0,
 'loan_credit_invest': 0,
 'credit_relay_money': 0,
 'credit_relay_invest': 0,
 'credit_relay_loan': 0,
 'credit_money_relay': 0,
 'credit_money_invest': 0,
 'credit_money_loan': 0,
 'credit_invest_relay': 0,
 'credit_invest_money': 0,
 'credit_invest_loan': 0,
 'credit_loan_relay': 0,
 'credit_loan_money': 0,
 'credit_loan_invest': 0,
 'relay_money': 0,
 'relay_invest': 0,
 'relay_loan': 0,
 'relay_credit': 0,
 'money_relay': 0,
 'money_invest': 0,
 'money_loan': 0,
 'money_credit': 0,
 'invest_relay': 0,
 'invest_money': 0,
 'invest_loan': 0,
 'invest_credit': 0,
 'loan_relay': 0,
 'loan_money': 0,
 'loan_invest': 0,
 'loan_credit': 0,
 'credit_relay': 0,
 'credit_money': 0,
 'credit_invest': 0,
 'credit_loan': 0,
 'relay': 0,
 'money': 0,
 'invest': 0,
 'loan': 0,
 'credit': 0}

In [27]:
#go through the dataframe and create the product permutations for each person
# the permutation is the order in which they used the products
# for example, a user with data like this:
# days_with_relay: 100
# days_with_money: NaN
# days_with_invest: 300
# days_with_loan: NaN
# would have a permutation of 'invest_relay' because they used invest first and then relay

for i in tqdm(range(len(dataframe))):
    #create a list of the products that the user has
    products = []
    if dataframe.loc[i, 'uses_relay'] == True:
        products.append('relay')
    if dataframe.loc[i, 'uses_money'] == True:
        products.append('money')
    if dataframe.loc[i, 'uses_invest'] == True:
        products.append('invest')
    if dataframe.loc[i, 'uses_loan'] == True:
        products.append('loan')
    if dataframe.loc[i, 'uses_credit'] == True:
        products.append('credit')
        
    #sort the list of products by the number of days the user has used the product
    products.sort(key=lambda x: dataframe.loc[i, f'days_with_{x}'], reverse=True)
    #show the row, then show the products

    #convert the list of products to a string
    product_permutation = convert_tuple_to_string(tuple(products))
    #increment the count of the product permutation
    if len(products) > 0: 
        last_populated_columns_dict[product_permutation] += 1

100%|██████████| 3216851/3216851 [04:17<00:00, 12474.70it/s]

In [28]:
#populate the dataframe with the counts
for i in range(len(product_permutations_df)):
    product_permutations_df.loc[i, 'count'] = last_populated_columns_dict[product_permutations_df.loc[i, 'last_populated_column']]

#drop the last_populated_column column
product_permutations_df = product_permutations_df.drop(columns=['last_populated_column'])

In [29]:
product_permutations_df['lvl0'] = 'all'
#reindex the dataframe so the columns are in the correct order
product_permutations_df = product_permutations_df.reindex(columns=['lvl0', 'lvl1', 'lvl2', 'lvl3', 'lvl4', 'count'])

In [28]:
#save product_permutations_df to a csv file
product_permutations_df.to_csv('product_permutations.csv')

In [30]:
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#4B8BBE','#306998','#FFE873','#FFD43B','#646464']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig

In [32]:
fig = genSankey(product_permutations_df,cat_cols=['lvl0','lvl1','lvl2','lvl3'],value_cols='count',title='xbuy visualized')
plotly.offline.plot(fig, validate=False)

'temp-plot.html'